* {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
}

p, h2 {
margin: 0;
padding: 0;
}

.container {
max-width: 1219px;
margin: 0 auto;
width: 100%;
}

.header {
position: fixed;
top: 0;
background-color: #007765;
width: 100%;
height: 85px;
box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.header__wrapper {
display: flex;
align-items: center;
justify-content: space-between;
}

.navbar {
display: inline-block;
}

.navbar-menu {
list-style-type: none;
padding: 0;
}

.navbar-menu li, a {
display: inline-block;
color: white;
text-decoration: none;
}

.read_1 {
color: white;
font-size: 72px;
line-height: 83px;
text-align: center;
padding-top: 150px;
}

.read_2 {
color: #007765;
font-size: 64px;
line-height: 75px;
font-weight: bold;
text-align: center;
padding-top: 58px;
padding-bottom: 38px;
}

.read__section {
color: #007765;
font-size: 64px;
line-height: 75px;
font-weight: bold;
text-align: center;
padding-top: 48px;
padding-bottom: 16px;
}

.read_me {
padding-top: 127px;
padding-bottom: 127px;
color: #ffffff;
font-size: 48px;
line-height: 75px;
text-align: center;
font-style: italic;
}

.section_1 {
height: 403px;
background-image: url(/img/image-8.png);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}

.section_2 {
padding-top: 48px;
padding-bottom: 92px;
background-color: #EEEEEE;
}

.section_2__paragraph {
padding-left: 200px;
padding-right: 200px;
margin-bottom: 32px;
font-size: 32px;
}

.section_text {
padding-bottom: 30px;
}

.section_3 {
padding-left: 55px;
padding-right: 55px;
margin: auto;
}

.section_3__paragraph {
padding-bottom: 40px;
font-size: 32px;
font-weight: 400;
text-align: left;
}

.section_4 {
background-color: #EEEEEE;
}

.backing {
height: 500px;
background-image: url(/img/Hero-1.png);
background-size: cover;
background-position: center center;
}

.float__logo {
width: 115px;
height: 115px;
float: left;
padding-right: 30px;
padding-bottom: 30px;
}

.team__flex {
display: flex;
text-align: center;
flex-wrap: wrap;
padding-left: 100px;
}

.img__team {
padding: 0;
margin: 0;
width: 168px;
height: 168px;
}

.indent {
padding: 60px;
margin: 0;
width: 230px;
height: 250px;
}

.text_1 {
color: #007765;
font-weight: bold;
}

.text_2 {
font-style: italic;
}

.footer {
display: flex;
justify-content: center;
padding: 62px 0 50px 0;
background-color: #333333;
}

.footer__text {
width: 540px;
height: 64px;
font-size: 18px;
color: #FFFFFF;
text-align: center ;    
}
